__pycache__
.ipynb_checkpoints

TASK1/__pycache__
TASK1/.ipynb_checkpoints

TASK3/__pycache__
TASK3/.ipynb_checkpoints

TASK4/__pycache__
TASK4/.ipynb_checkpoints

TASK7/__pycache__
TASK7/.ipynb_checkpoints

rebadd/__pycache__
rebadd/.ipynb_checkpoints

rebadd/BA_module/__pycache__
rebadd/BA_module/module/__pycache__
rebadd/BA_module/module/.ipynb_checkpoints

rebadd/BA_module_full

rebadd/GSK3_module/__pycache__

rebadd/JNK3_module/__pycache__

rebadd/RA_module/__pycache__

rebadd/SA_module/__pycache__

data/chembl/__pycache__
data/chembl/.ipynb_checkpoints
data/chembl/chembl_train_full.csv

data/zinc15/__pycache__
data/zinc15/.ipynb_checkpoints
data/zinc15/zinc15_train_full.csv